.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 600px;
}

.logo {
    max-width: 600px;
    height: auto;
}

.contenedor {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.titulo {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    line-height: 1;
}

.botonGoogle {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 12px;
    border-radius: 24px;
    justify-content: center;
}

.input {
    border: 1px solid gray;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    padding: 12px;
}