.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 36px;
    border: 1px solid lightgrey;
    padding: 24px;
    width: 600px;
}

.titulo {
    font-size: 30px;
    font-weight: 700;
}

.perfil {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.imagenBoton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.enlace {
    text-decoration: none;
    color: black;
    padding: 12px;
}

.enlace:hover {
    color: blueviolet;
    background-color: lightgray;
}

.subtitulo {
    font-size: 20px;
    font-weight: 500;
}

.parrafo {
    display: flex;
    color: gray;
    gap: 6px;
}

.imagen {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid blueviolet;
}

.datos {
    display: flex;
    flex-direction: column;
}

.mapin {
    color: gray;
}

.otrotitulo {
    font-size: 20px;
    font-weight: 500;
}

.posts {
    display: flex;
    gap: 12px;
    border: 1px solid lightgrey;
    padding: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
}

.fecha {
    font-size: 10px;
    color: grey;
}

.publicacion {
    font-size: 16px;
    color: black;
}

.username {
    font-size: 12px;
}

.autor {
    display: flex;
    gap: 8px;
}

.imagen2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid blueviolet;
}