/* Estilos base */
.container {
  min-height: 100vh;
  margin: auto;
}

/* Layout para usuarios autenticados */
.authenticated {
  display: flex;
  width: 1440px;
  justify-content: center; /* Asegura el centrado horizontal */
}

.navbar {
  width: 250px;
  height: 100%; /* Altura completa */
}

.main {
  flex: 1; /* Ocupa el espacio restante */
  padding: 16px;
  background-color: #fff;
  margin-right: 2rem;
}

/* Layout para usuarios no autenticados */
.unauthenticated {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Asegura el contenido vertical */
}
